button,
[type=button],
[type=reset],
[type=submit] {
    appearance: none !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
}


.btnA {
    height: 57px;
    border-radius: $radius74;
    padding: 0px 10px 0px 20px;

    .icon {
        height: 38px;
        width: 38px;
        margin-left: 15px;
        transition: all 0.3s ease-in-out;
    }

    &.bg-white-btn {
        background-color: $color-F1F1F1;
        color: $color-223E4F;

        &:hover {
            .icon {
                transform: rotate(45deg);
            }
        }
    }

    &.bg-223E4F-btn {
        background-color: $color-223E4F;
        color: $color-F1F1F1;

        &:hover {
            .icon {
                transform: rotate(45deg);
            }
        }
    }
}