.offcanvas {
  &.offcanvas-end{
    border-left: 0px solid transparent !important;
  }
  .close-btn {
    height: 24px;
    width: 24px;
  }

  .booking-box {
    background-color: $color-F1F1F1;
    padding: 35px;

    @include media-breakpoint-down(lg) {
      padding: 39px 24px;
    }
  }

  @include media-breakpoint-up(md) {
    max-width: 548px !important;
    width: 100% !important;
    border-bottom-left-radius: $radius30;
    border-top-left-radius: $radius30;
    padding: 30px 40px 50px 50px !important;
  }

  padding: 30px 20px 75px 20px !important;

  &.service-offcanvas {
    .offcanvas-body {
      .service-img {
        height: 101px;
        max-width: 96px;
        width: 100%;

        @include media-breakpoint-down(lg) {
          max-width: 76px;
          width: 100%;
          height: 80px;
        }
      }

      .service-content-group {
        .service-content {
          border-top: 1px solid rgba($color: $color-223E4F, $alpha: 0.2);
          border-bottom: 1px solid rgba($color: $color-223E4F, $alpha: 0.2);

          &:last-child {
            padding-bottom: 0px !important;
            border-bottom: none;

            @include media-breakpoint-down(lg) {
              padding-bottom: 60px !important;
            }
          }

          .service-desc {
            ul {
              padding-left: 0px !important;
              margin-bottom: 0px !important;
              list-style: none;

              li {
                position: relative;
                padding-left: 16px;
                margin-bottom: 5px;

                &::after {
                  content: '';
                  position: absolute;
                  top: 10px;
                  left: 0;
                  width: 6px;
                  height: 6px;
                  border-radius: 50px;
                  background-color: $color-EF9F00;
                }
              }
            }
          }
        }
      }

      .booking-box {
        .book-contact {
          p {
            a {
              font-size: $font16;
              line-height: $leading20;
              letter-spacing: $space-0_16;
              color: rgba($color: $color-223E4F, $alpha: 1) !important;
            }
          }
        }
      }
    }
  }

  &.Testimonial-offcanvas {
    .offcanvas-body {
      .testimonial-container {
        border-bottom: 1px solid rgba($color: $color-223E4F, $alpha: 0.2);

        .testimonial-img {
          border: 1px solid $color-F1F1F1;
          height: 81px;
          max-width: 81px;
          width: 100%;

          img {
            height: 50px;
          }

          @include media-breakpoint-down(lg) {
            height: 74px;
            max-width: 74px;
          }
        }
      }

      .story-session-card {
        border: 1px solid $color-F1F1F1;
        padding: 38px 28px 10px 36px;

        @include media-breakpoint-down(lg) {
          padding: 35px 28px 34px 24px;
        }
      }

      .booking-box {
        .book-contact {
          p {
            a {
              font-size: $font16;
              line-height: $leading20;
              letter-spacing: $space-0_16;
              color: rgba($color: $color-223E4F, $alpha: 1) !important;
            }
          }
        }
      }
    }
  }
}

.offcanvas-backdrop {
  background-color: rgba($color: $black, $alpha: 0.1);

  &.fade {
    backdrop-filter: blur(14px);
  }

  &.show {
    opacity: 1 !important;
  }
}