.header {
    z-index: 999;

    .header-logo {
        height: 34px;

        .black-logo {
            display: none;
        }

        @include media-breakpoint-down(lg) {
            height: 28px;
        }
    }

    .burger-menu {
        height: 18px;
        width: 18px;

        .close-icon,
        .black-burger-icon {
            display: none;
        }

        &.activate {
            .close-icon {
                display: block;
            }

            .burger-icon {
                display: none;
            }
        }
    }

    .navigation {
        li {
            &:last-child {
                margin-right: 0px !important;
            }

            a {
                color: $white;
            }
        }
    }

    &.hidden {
        transform: translateY(-200px);
    }

    &.header-fixed-os {
        transform: translateY(0px);
    }

    &.header-fixed {
        background-color: $white;
    }

    &.header-active {
        @include media-breakpoint-down(lg) {
            background-color: $white;
            height: 100vh;
        }

        .container{
        @include media-breakpoint-down(lg) {
            height: 100%;
        }
        }

        .header-main{
             @include media-breakpoint-down(lg) {
            height: 100%;
            overflow: auto;
        }
        }
    }

    &.header-black,
    &.header-fixed,
    &.header-active {
        .black-logo {
            display: block;
        }

        .white-logo {
            display: none;
        }

        .navigation {
            li {
                a {
                    color: $color-223E4F;
                }
            }
        }

        .btnA {
            background-color: $color-223E4F;
            color: $color-F1F1F1;

            &:hover {
                .icon {
                    transform: rotate(45deg);
                }
            }
        }

        .burger-menu {
            .black-burger-icon {
                display: block;
            }

            .burger-icon {
                display: none;
            }

            &.activate {
                .black-burger-icon {
                    display: none;
                }
            }
        }
    }
}