.prefix {
    display: flex;
    align-items: center;

    &::before {
        content: '';
        height: 6px;
        width: 6px;
        background-color: $color-EF9F00;
        display: block;
        border-radius: 50%;
        margin-right: 8px;
    }
}

.main-heading {
    strong {
        font-family: "archivo-medium";
        font-weight: 500 !important;
    }
}