.container {
  max-width: 1440px;
  padding-left: 40px;
  padding-right: 40px;

  @include media-breakpoint-down(lg) {
    padding-left: 23px;
    padding-right: 23px;
  }
}

.row {
  margin-left: 0px;
  margin-right: 0px;

  &>* {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.row5 {
  margin-left: -5px;
  margin-right: -5px;

  &>* {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.row6 {
  margin-left: -6px;
  margin-right: -6px;

  &>* {
    padding-left: 6px;
    padding-right: 6px;
  }
}

.row16 {
  margin-left: -16px;
  margin-right: -16px;

  &>* {
    padding-left: 16px;
    padding-right: 16px;
  }
}


.w-fit {
  width: fit-content;
}

.h-fit {
  height: fit-content;
}

.h-vh {
  height: 100vh;
}

// TEXT OVERFLOW CSS
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
}

@include media-breakpoint-down(lg) {
  .px-p-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .pe-p-0 {
    padding-right: 0 !important;
  }

  .ps-p-0 {
    padding-left: 0 !important;
  }

  .px-p-p {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  .ps-p-p {
    padding-left: 15px !important;
    padding-right: 0px !important;
  }

  .mx-m-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .res-w-100 {
    width: 100% !important;
  }

  .res-h-100 {
    height: 100%;
  }

  .res-w-auto {
    width: auto !important;
  }

  .res-h-vh {
    height: 100vh;
  }

  .res-w-fit {
    width: fit-content !important;
  }

  .res-h-fit {
    height: fit-content !important;
  }

  .text-truncate-none {
    text-overflow: initial !important;
    line-clamp: initial !important;
    -webkit-line-clamp: initial !important;
  }
}