.left-right-layout-section {
    .left-right-cards {
        .left-right-card {
            &:first-child {
                margin-top: 0px !important;
            }

            .left-right-img {
                height: 470px;

                @include media-breakpoint-down(md) {
                    height: 263px;
                }
            }
        }
    }
}